{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.paperurl }}" rel="permalink">{{ title }}</a>
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.year | default: "1900" | year: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
        <b><i>{{ post.venue }}</i>, <i>{{ post.year | default: "1900" | year: "%Y" }}</i></b>

        {% elsif post.year %}
         <p class="page__year"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].year_label | default: "Published:" }}</strong> <time yeartime="{{ post.year | default: "1900-01-01" | year_to_xmlschema }}">{{ post.year | default: "1900" | year: "%Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
    <p>{{ post.citation }} </p>
    {% elsif post.citation %}
    <p>{{ post.citation }} </p>
    {% endif %}

    {% if post.image %}
        <div style="height: 250px">
             <img src="/images/publications/{{ post.image }}" alt=" " style="max-width: 100%;max-height: 100%" />
        </div>
    {% endif %}


  </article>
</div>
